nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: var(--off__white);
  .nav-links a {
    color: var(--very__dark__blue);
  }
}

/* NAVBAR MENU */

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  li {
    padding: 5px 14px;
    a:hover {
      color: var(--soft__red);
      transition: 0.3s ease;
    }
  }
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/*HAMBURGER MENU*/

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
