/* TODO :  STATIC FONTS  */
@font-face {
  font-family: Inter-Regular;
  src: url("./fonts/static/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter-Bold;
  src: url("./fonts/static/Inter-Bold.ttf");
}
@font-face {
  font-family: Inter-ExtraBold;
  src: url("./fonts/static/Inter-ExtraBold.ttf");
}

/* TODO : CUSTOM VARIABLES  */
:root {
  /* TODO : CUSTOM COLORS */

  --backgroundColor: hsl(36, 100%, 99%);
  --off__white: hsl(36, 100%, 99%);
  --grayish__blue: hsl(233, 8%, 79%);
  --very__dark__blue: hsl(240, 100%, 5%);
  --dark__grayish__blue: hsl(236, 13%, 42%);
  --soft__orange: hsl(35, 77%, 62%);
  --soft__red: hsl(5, 85%, 63%);

  /* TODO : CUSTOM FONTS  */

  --Inter_Regular: Inter-Regular;
  --Inter_Bold: Inter-Bold;
  --Inter_ExtraBold: Inter-ExtraBold;
}

aside {
  background: var(--very__dark__blue);
  width: 340px;
  max-height: 600px;
  color: var(--off__white);
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  /* gap: 0.2rem; */
}

aside div {
  border: 2px solid yellow;
  /* max-height: 100px; */
  /* word-wrap: break-word; */
  /* white-space: pre-wrap; */
  /* word-break: break-word; */
}

aside h1 {
  color: var(--soft__orange);
  font-family: var(--Inter_ExtraBold);
  font-size: 30px;
  font-weight: bold;
  flex: 0.5;
  border: 2px solid red;
}

aside h6 {
  color: var(--off__white);
  font-family: var(--Inter_Bold);
  font-size: 16px;
}

aside p {
  color: var(--grayish__blue);
  font-family: var(--Inter_Regular);
  font-size: 16px;
}
