/* TODO : CUSTOM VARIABLES  */
:root {
  --backgroundColor: hsl(36, 100%, 99%);
  --off__white: hsl(36, 100%, 99%);
  --grayish__blue: hsl(233, 8%, 79%);
  --very__dark__blue: hsl(240, 100%, 5%);
  --dark__grayish__blue: hsl(236, 13%, 42%);
  --soft__orange: hsl(35, 77%, 62%);
  --soft__red: hsl(5, 85%, 63%);
}

/* TODO : CUSTOM FONTS  */
@font-face {
  font-family: Inter-Regular;
  src: url("./fonts/static/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter-Bold;
  src: url("./fonts/static/Inter-Bold.ttf");
}
@font-face {
  font-family: Inter-ExtraBold;
  src: url("./fonts/static/Inter-ExtraBold.ttf");
}
main {
  padding: 0;
  width: 100%;
  margin: auto;
  font-family: Inter-Regular;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
header nav img {
  -o-object-fit: contain;
     object-fit: contain;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
header nav ul li {
  color: var(--dark__grayish__blue);
  font-family: Inter;
}

.section__one {
  display: flex;
  flex-direction: column;
}
.section__one .top_articles,
.section__one .bottom_articles,
.section__one .top_articles-description {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.section__one article,
.section__one aside {
  height: 200px;
  width: 438px;
}
.section__one .top_articles-image {
  width: 870px;
  position: relative;
  height: 400px;
}
.section__one .top_articles-image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 100%;
}
.section__one .top_articles-heading {
  color: var(--very__dark__blue);
}
.section__one .top_articles-heading h1 {
  font-size: 50px;
  font-family: Inter-ExtraBold;
}
.section__one .top_articles-readmore {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section__one .top_articles-readmore button {
  background: var(--soft__red);
  border-radius: 2px;
  border: none;
  width: 150px;
  height: 50px;
  color: var(--off__white);
}
.section__one aside {
  height: 600px;
  background: var(--very__dark__blue);
  color: var(--off__white);
  padding-left: 40px;
  padding-right: 40px;
}
.section__one aside > h1 {
  color: var(--soft__orange);
  font-family: Inter-ExtraBold;
  font-size: 40px;
}
.section__one aside div {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  border-bottom: 1px solid var(--dark__grayish__blue);
}
.section__one aside div h1 {
  text-transform: capitalize;
}
.section__one aside div p {
  color: var(--grayish__blue);
}
.section__one .bottom_articles {
  margin-top: 50px;
}
.section__one .bottom_articles article {
  height: 190px;
  width: 453px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.section__one .bottom_articles article div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 190px;
}
.section__one .bottom_articles article div h1 {
  color: var(--grayish__blue);
  font-family: Inter-Bold;
  font-size: 26px;
}
.section__one .bottom_articles article div h6 {
  font-family: Inter-ExtraBold;
}/*# sourceMappingURL=flexbox.css.map */