@font-face {
  font-family: Inter-Regular;
  src: url("./assets/fonts/static/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter-Bold;
  src: url("./assets/fonts/static/Inter-Bold.ttf");
}
@font-face {
  font-family: Inter-ExtraBold;
  src: url("./assets/fonts/static/Inter-ExtraBold.ttf");
}

:root {
  /* TODO : CUSTOM COLORS */

  --backgroundColor: hsl(36, 100%, 99%);
  --off__white: hsl(36, 100%, 99%);
  --grayish__blue: hsl(233, 8%, 79%);
  --very__dark__blue: hsl(240, 100%, 5%);
  --dark__grayish__blue: hsl(236, 13%, 42%);
  --soft__orange: hsl(35, 77%, 62%);
  --soft__red: hsl(5, 85%, 63%);

  /* TODO : CUSTOM FONTS  */

  --Inter_Regular: Inter-Regular;
  --Inter_Bold: Inter-Bold;
  --Inter_ExtraBold: Inter-ExtraBold;
}
