/* TODO :  STATIC FONTS  */
@font-face {
  font-family: Inter-Regular;
  src: url("./fonts/static/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter-Bold;
  src: url("./fonts/static/Inter-Bold.ttf");
}
@font-face {
  font-family: Inter-ExtraBold;
  src: url("./fonts/static/Inter-ExtraBold.ttf");
}
/* TODO : CUSTOM VARIABLES  */
:root {
  --backgroundColor: hsl(36, 100%, 99%);
  --off__white: hsl(36, 100%, 99%);
  --grayish__blue: hsl(233, 8%, 79%);
  --very__dark__blue: hsl(240, 100%, 5%);
  --dark__grayish__blue: hsl(236, 13%, 42%);
  --soft__orange: hsl(35, 77%, 62%);
  --soft__red: hsl(5, 85%, 63%);
  /* TODO : CUSTOM FONTS  */
  --Inter_Regular: Inter-Regular;
  --Inter_Bold: Inter-Bold;
  --Inter_ExtraBold: Inter-ExtraBold;
}

main {
  padding: 0;
  width: 100%;
  margin: auto;
  font-family: Inter-Regular;
}

@media only screen and (max-width: 375px) {
  body {
    min-width: 100vw;
  }
  nav li {
    visibility: hidden;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  section article {
    height: 100%;
  }
  section .top_level {
    display: flex;
    flex-direction: column;
  }
  section .top_level .top_articles {
    display: flex;
    flex-direction: column;
  }
  section .top_level .top_articles .top_articles-image {
    width: 375px;
  }
  section .top_level .top_articles .top_articles-image img {
    height: 100%;
    width: 375px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  section .top_level .top_articles .second {
    display: flex;
    flex-direction: column;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
header nav img {
  -o-object-fit: contain;
     object-fit: contain;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 60px;
}
header nav ul li {
  color: var(--dark__grayish__blue);
  font-family: Inter;
}

section {
  height: 800px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5rem;
}
section article {
  height: 200px;
  width: 450px;
}
section .top_level {
  display: flex;
  height: 600px;
  width: 98vw;
  gap: 5px;
}
section .top_level .top_articles {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 883px;
}
section .top_level .top_articles .first .top_articles-image {
  width: 880px;
  position: relative;
  height: 400px;
}
section .top_level .top_articles .first .top_articles-image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 100%;
}
section .top_level .top_articles .second {
  display: flex;
}
section .top_level .top_articles .second article h1 {
  font-size: 50px;
}
section .top_level .top_articles .second .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
section .top_level .top_articles .second .desc p {
  line-height: 30px;
}
section .top_level .top_articles .second .desc button {
  height: 50px;
  width: 150px;
  color: var(--off__white);
  background: var(--soft__red);
  outline: none;
  border: none;
  font-family: var(--Inter_Regular);
  letter-spacing: 3px;
}
section .top_level .third {
  height: 600px;
  width: 440px;
  background: var(--very__dark__blue);
  color: var(--off__white);
}
section .top_level .third article {
  margin: auto;
  width: 350px;
}
section .top_level .third article h1 {
  color: var(--soft__orange);
  font-family: var(--Inter_ExtraBold);
  font-size: 40px;
}
section .top_level .third article .firstParagraph,
section .top_level .third article .secondParagraph {
  color: var(--grayish__blue);
  border-bottom: 2px solid var(--grayish__blue);
}
section .top_level .third article .firstParagraph h6,
section .top_level .third article .secondParagraph h6 {
  font-family: var(--Inter_Bold);
  font-size: 18px;
}
section .top_level .third article .firstParagraph h6,
section .top_level .third article .secondParagraph h6,
section .top_level .third article .thirdParagraph h6 {
  font-family: var(--Inter_Bold);
  font-size: 18px;
}
section .top_level .third article .firstParagraph p,
section .top_level .third article .secondParagraph p,
section .top_level .third article .thirdParagraph p {
  font-family: var(--Inter_Regular);
  font-size: 15px;
  color: var(--dark__grayish__blue);
}
section .bottom_articles {
  display: flex;
}
section .bottom_articles article {
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin: 0;
  padding: 0;
}
section .bottom_articles article img {
  height: 100%;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
section .bottom_articles article div h1 {
  color: var(--grayish__blue);
  font-family: var(--Inter_Bold);
  font-size: 22px;
}
section .bottom_articles article div h6 {
  color: var(--very__dark__blue);
  font-family: var(--Inter_ExtraBold);
  font-size: 18px;
}/*# sourceMappingURL=flexbox2.css.map */