// TODO: CODE REFACTORING AND LEARNING OF SCSS SYNTAX AND SUPERPOWERS , AS WELL AS BEST PRACTICES

/* TODO : CUSTOM VARIABLES  */
@import "./styles/variables";

/* UTILITIES */

@import "./styles/utilities";

/* NAVBAR STYLING STARTS */
@import "./styles/navbar";

.container {
  min-height: 100vh;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: repeat(5, 100px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
/* APPLYING MEDIA QUERIES */
@media screen and (min-width: 600px) {
  .card {
    background: var(--off__white);
  }

  .card-one {
    grid-area: 1 / 1 / 4 / 5;
    background: url("./assets/images/image-web-3-desktop.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .card-two {
    grid-row: span 6;
    grid-column: span 2;
    background: var(--very__dark__blue);
    color: var(--off__white);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;

    h1 {
      color: var(--soft__orange);
      font-family: var(--Inter_ExtraBold);
      font-size: 30px;
      font-weight: bold;
      margin-bottom: -30px;
    }

    div {
      // margin-bottom: -50px;
      h6 {
        color: var(--off__white);
        font-family: var(--Inter_ExtraBold);
        font-size: 20px;
        letter-spacing: 2px;
        // margin-bottom: -10px;

        &:hover {
          color: var(--soft__orange);
          cursor: pointer;
          transition: 0.5s ease-in-out;
        }
      }

      p {
        color: var(--grayish__blue);
        font-family: var(--Inter_Regular);
        font-size: 16px;
      }
    }

    .underline {
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid var(--dark__grayish__blue);
        height: 2px;
        width: 100%;
        bottom: -8px;
      }
    }
  }

  .card-three {
    grid-row: span 3;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 4rem;
      font-family: var(--Inter_ExtraBold);
      color: var(--very__dark__blue);
    }
  }
  .card-four {
    grid-row: span 3;
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;

    p {
      font-size: 1.57rem;
      font-family: var(--Inter_Regular);
      color: var(--very__dark__blue);
    }

    button {
      width: 270px;
      background: var(--soft__red);
      border: none;
      height: 40px;
      color: var(--off__white);
      font-family: var(--Inter_Regular);
      letter-spacing: 5px;
      letter-spacing: 5px;
      &:hover {
        background: var(--very__dark__blue);
        cursor: pointer;
        transition: 0.5s ease-in-out;
      }
    }
  }

  .card-five,
  .card-six,
  .card-seven {
    grid-column: span 2;
    grid-row: span 2;

    article {
      display: flex;
      justify-content: space-between;
      height: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 5rem;
      margin-bottom: 5rem;

      img {
        height: 100%;
        width: 200px;
        object-fit: cover;
        margin-right: 10px;
      }

      div {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        h1 {
          color: var(--grayish__blue);
          font-family: var(--Inter_Bold);
          font-size: 20px;
        }

        h6 {
          color: var(--very__dark__blue);
          font-family: var(--Inter_ExtraBold);
          font-size: 16px;

          &:hover {
            color: var(--soft__red);
            cursor: pointer;
            transition: 0.5s ease-in-out;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .card-one {
    background: url("./assets/images/image-web-3-mobile.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    grid-row: span 2;
    grid-column: span 2;
  }
  .card-two {
    order: 3;
    grid-row: span 6;
    grid-column: span 2;
    background: var(--very__dark__blue);
    color: var(--off__white);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;

    h1 {
      color: var(--soft__orange);
      font-family: var(--Inter_ExtraBold);
      font-size: 30px;
      font-weight: bold;
      margin-bottom: -30px;
    }

    div {
      h6 {
        color: var(--off__white);
        font-family: var(--Inter_ExtraBold);
        font-size: 18px;
        letter-spacing: 2px;

        &:hover {
          color: var(--soft__orange);
          cursor: pointer;
          transition: 0.5s ease-in-out;
        }
      }

      p {
        color: var(--grayish__blue);
        font-family: var(--Inter_Regular);
        font-size: 16px;
      }
    }

    .underline {
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid var(--dark__grayish__blue);
        height: 2px;
        width: 100%;
        bottom: -8px;
      }
    }
  }
  .card-three {
    grid-row: span 2;
    grid-column: span 2;
    margin-top: -40px;

    p {
      font-size: 3.5rem;
      font-family: var(--Inter_ExtraBold);
      color: var(--very__dark__blue);
    }
  }
  .card-four {
    grid-row: span 2;
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;

    p {
      font-size: 1.5rem;
      font-family: var(--Inter_Regular);
      color: var(--very__dark__blue);
    }

    button {
      width: 200px;
      background: var(--soft__red);
      border: none;
      height: 40px;
      color: var(--off__white);
      font-family: var(--Inter_Regular);
      letter-spacing: 5px;

      &:hover {
        background: var(--very__dark__blue);
        cursor: pointer;
        transition: 0.5s ease-in-out;
      }
    }
  }

  .card-five,
  .card-six,
  .card-seven {
    grid-column: span 2;
    grid-row: span 3;

    article {
      display: flex;
      justify-content: space-between;
      height: 100%;
      margin: 0;
      padding: 0;
      // margin-bottom: 5rem;

      img {
        height: 100%;
        width: 150px;
        object-fit: cover;
        margin-right: 10px;
      }

      div {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        h1 {
          color: var(--grayish__blue);
          font-family: var(--Inter_Bold);
          font-size: 20px;
        }

        h6 {
          color: var(--very__dark__blue);
          font-family: var(--Inter_ExtraBold);
          font-size: 16px;

          &:hover {
            color: var(--soft__red);
            cursor: pointer;
            transition: 0.5s ease-in-out;
          }
        }
      }
    }
  }
}
